.footer{
    width: 100%;
    bottom: 0;
    height: auto;
    color: black;
    background-color: #6fddda;
    padding: 25px;
}
.footer-bottom{
    display: flex;
    justify-content: center;
    align-items: center;

}